body {
    background-image: url(/images/gym-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(12, 12, 12, 0.723);
}



form, .workouts, .goals, .exercises, .workout-form {
    margin: 20px 0;
    width: 20em;
    display: flex;
    flex-direction: column;
}

div {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    padding: 10px 30px;
    margin: 20px 0;
}

.exercise-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.exercise-item span {
    flex: 1;
}

.exercise-item button {
    background-color: rgb(155, 57, 34, 0.5);
    color: rgb(72, 30, 20);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.exercise-item button:hover {
    background-color: rgb(242, 97, 63);
}

#show-more-button{
    display: none;
}

img {
    width: 90vw;
    border-radius: 20px;
}

@media (max-width: 580px){
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 580px){
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
}

@media (min-width: 900px){
    img {
        width: 80vw;
    }

}

/* MAKE THE DIVS GO INTO COLUMNS WHEN THE DISPLAY IS BEIGGER THAN A PHONE TO AVOID EMPTY SPACE */